doctype html
html
  head
    title= title
    link(rel='styleSheet', href='/stylesheets/bootstrap-amalia.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

  script(src='/bowerComponents/bootstrap/dist/js/bootstrap.js')
  script(src='/bowerComponents/jquery/dist/jquery.js')
